#cover-spin {
  position: fixed;
  width: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.7);
  z-index: 9999;
  display: none;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#cover-spin::after {
  content: '';
  display: block;
  position: absolute;
  left: 48%;
  top: 40%;
  width: 40px;
  height: 40px;
  border-style: solid;
  border-color: black;
  border-top-color: transparent;
  border-width: 4px;
  border-radius: 50%;
  -webkit-animation: spin .8s linear infinite;
  animation: spin .8s linear infinite;
}

body {
  color: #000;
  background: #fff;
  font: normal 15px/1.538em Open Sans, "Segoe UI", "Helvetica", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.report-main-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 3rem;
  width: 100%;
}

.report-main-wrapper > * {
  padding-left: 15px;
  padding-right: 15px;
}

.report-main-wrapper .report-index {
  flex: 1 1 25%;
  max-width: 25%;
  padding-top: 5rem;
}

.report-main-wrapper .report-content-main {
  flex: 1 1 75%;
  max-width: 75%;
}
.report-main-wrapper .report-content-main .summary-wrapper {
  border: 3px solid #1a7bbb;
  padding: 20px;
  border-radius: 20px;
  margin-top: 2.5rem;
}

.report-main-wrapper .report-content-main #upgrade-audit-report .summary-wrapper h1 {
  margin-top: 0;
}
.report-main-wrapper .report-index .report-table-wrapper {
  padding: 2em 1.7em;
  background-color: #eef6ff;
  border-radius: 20px;
}

.report-main-wrapper .report-index .report-table-wrapper h2 {
  color: #000000;
  font-size: 20px;
  font-weight: bold;
}

.report-main-wrapper .report-index .report-table-wrapper ol {
  margin-top: 2em;
  color: #3552ef;
  margin-left: 1.5em;
}

.report-main-wrapper .report-index .report-table-wrapper ol {
  color: #3552ef;
}

.report-main-wrapper .report-index .report-table-wrapper ol > li {
  margin-bottom: 0.5rem;
}

.report-main-wrapper .report-content #upgrade-audit-report h1 {
  margin: 0;
  font-size: 30px;
  font-weight: bold;
  color: #1a7bbb;
  margin-bottom: 0.2em;
  line-height: 1;
  margin-top: 1em;
}

.report-main-wrapper .report-content #upgrade-audit-report h2 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 0.9em;
}

.report-main-wrapper .report-content #upgrade-audit-report > * {
  margin-bottom: 1.1em;
}

.report-main-wrapper .report-content #upgrade-audit-report code,
.report-main-wrapper .report-content #upgrade-audit-report pre {
  font-size: 1.1em;
  line-height: 1.5rem;
}

.report-main-wrapper .report-index > * {
  padding-right: 0;
}

.report-main-wrapper .report-content #upgrade-audit-report h4 {
  font-weight: 900;
  color: #000000;
  font-size: 1.1em;
  margin-bottom: 0.9em;
}

.report-main-wrapper .report-content #upgrade-audit-report h6 {
  font-weight: 400;
  color: #000000;
  font-size: 1.1em;
  margin-bottom: 0.9em;
}

.tabs.primary {
  background-color: #eef6ff;
}

.tabs.primary li a {
  border-radius: 10px 10px 0 0;
  border-top: none;
  margin-top: 0;
  background-color: white;
}

ul.tabs.primary li.active a,
ul.tabs.primary li.active a.active,
ul.tabs.primary li.active a:active,
ul.tabs.primary li.active a:visited {
  border-top: none;
  margin-top: 0;
  color: #1a7bbb;
}

.button-list {
  display: -webkit-inline-box;
  display: -moz-inline-box;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  flex-wrap: wrap;
}

.button-list > input[type="submit"],
button {
  border: 1px solid #1a7bbb;
  color: #1a7bbb;
  background: none;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 0.5rem 1em;
  font-size: 1em;
  cursor: pointer;
}
.button-list .form-item {
  padding: 0;
}
.report-main-wrapper .button-list > * + * {
  margin-right: 1em;
}

.button-list > input[type="submit"]:hover,
button:hover {
  background-color: #1a7bbb;
  color: #ffffff;
}

.report-main-wrapper .report-content h1 {
  margin-bottom: 1em;
}


.report-main-wrapper table {
  border-collapse: separate !important;
  border-spacing: 0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 1px 1px #1a7bbb;
  -moz-box-shadow: 0 1px 1px #1a7bbb;
  box-shadow: 0 1px 1px #1a7bbb;
  margin-bottom: 0 !important;
}

.report-main-wrapper table thead > tr {
  background-color: #1a7bbb;
  color: #ffffff;
  font-size: 1.3em;
  font-weight: bold;
}

.report-main-wrapper table thead  > tr  th {
  border-left: 1px solid #ffffff;
  border-top: 1px solid #1a7bbb;
  color: #ffffff;
  border-spacing: 0;
  text-align: left;
  padding: 0.7rem;
  background-color: #1a7bbb;
  font-size: 1em;
  font-weight: bold;
  text-transform: capitalize;
}

.report-main-wrapper table thead  > tr  th:first-child {
  border-left: none;
  border-radius: 15px 0 0 0;
}

.report-main-wrapper table thead  > tr  th:last-child {
  border-radius: 0 15px 0 0;
}

.report-main-wrapper table thead  > tr  th:only-child {
  border-radius: 15px 15px 0 0;
}

/* table tbody tr:last-child td:first-child {
    border-radius: 0 0 0 15px;
}
table tbody tr:last-child td:last-child {
    border-radius: 0 0 15px 0;
} */
.report-main-wrapper table tbody tr td:last-child {
  border-right: 1px solid #1a7bbb;
}
.report-main-wrapper table tbody tr {
  border-right: 1px solid #1a7bbb;
}
.report-main-wrapper table tbody tr td {
  border-left: 1px solid #1a7bbb;
  /* border-top: 1px solid $border-grey; */
  background-color: #ffffff;
  --bs-table-accent-bg: #ffffff;
  padding: 0.7rem;
  font-size: 1.1em;
}

/* table tbody > tr:last-child td:only-child {
  border-radius: 0 0 15px 15px;
} */
.report-main-wrapper table tbody tr:nth-child(even) {
  background-color: #eef6ff;
}
.report-main-wrapper table tbody tr:nth-child(even) td {
  background-color: #eef6ff;
}
.report-main-wrapper .report-content #upgrade-audit-report table + pre {
  background-color: #1a7bbb;
  padding: 0.7em 1em;
  margin-top: 0;
  font-size: 1.1em;
  color: #ffffff;
  border-radius: 0 0 15px 15px;
  border: 1px solid #1a7bbb;
  margin-bottom: 3em;
}

.report-main-wrapper table + pre code {
  font-size: 1.1em;
}
.sticky {
  position: fixed;
  top: 0;
}

.report-main-wrapper.fix-bottom-VP .stickthis #edit-index,
.report-main-wrapper.fix-top-VP .stickthis #edit-index {
  position: fixed;
}
.report-main-wrapper.fix-bottom-VP .stickthis #edit-index {
  bottom: 15px;
}
.report-main-wrapper.fix-top-VP .stickthis #edit-index {
  top: 25px;
}
.report-main-wrapper.flex-bottom {
  align-items: flex-end;
}

header--main {
  text-align: center;
  padding: 45px 30px 15px;
  background: none;
  background-color: #eef6ff;
}

.header--main .header-branding {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-bottom: 30px;
}

.header--main .header-branding>* {
  font-size: 25px;
  line-height: 30px;
  color: #000000;
  font-weight: 200;
}

.header--main .header-branding>b,
.header--main .header-branding>strong {
  font-weight: 800;
}

.header--main .header-branding h1,
.header--main .header-branding .h1,
.header--main .header-branding .h1 {
  margin: 0;
}

.header--main .header-branding img {
  max-width: 250px;
  height: auto;
  margin-right: 10px;
}

.header--main p {
  max-width: 60%;
  margin: auto;
  font-size: 16px;
  color: #484444;
  line-height: 30px;
  font-weight: 400;
  text-align: center;
}
::marker {
  color: #1a7bbb;
}

/* Print CSS */
.report-main-wrapper.audit-print {
  display: block;
  padding-top: 0px;
}

.report-main-wrapper.audit-print .report-index {
  width: 95%;
  max-width: unset;
  padding-top: 0px;
}

.report-main-wrapper.audit-print .report-content-main {
  width: 95%;
  max-width: unset;
}

.report-main-wrapper.audit-print .report-content-main .summary-wrapper {
  width: 90%;
}

.report-main-wrapper.audit-print .report-index .report-table-wrapper {
  background-color: #ffffff;
}

.audit-print .button-list {
  display: none;
}

.audit-print .break-page {
  break-after: page;
}
.audit-print tr,
.audit-print table,
.audit-print td {
  page-break-inside: avoid;
}

.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #ccc; 
}

.panel {
  padding: 0 18px;
  display: none;
  background-color: white;
  overflow: hidden;
  border-bottom: 1px solid black;
}
div.accordion:after {
  content: '\002B';
  color: #777;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}