@page {
  margin: 80px 40px 50px 40px;
  page-break-before: always;
}
.report-cover-page {
  page-break-after: always;
  width: 100%;
  text-align: center;
}
.report-cover-page .site-name {
  padding-top: 26rem;
}
.report-cover-page .site-url {
  padding-top: 5px;
}
.report-cover-page .report-date-wrapper {
 padding-top: 3.5rem;
 font-size: 26px;
 font-weight: bold;
}
.report-cover-page .report-date-label {
  padding-top: 10px;
}
.report-main-wrapper {
  color: #000;
  background: #fff;
  font: normal 15px/1.538em Open Sans,"Segoe UI","Helvetica",sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: block;
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 0px;
  width: 100%;
}

table {
  width: 100%;
  font-size: 0.923em;
  margin: 0 0 10px;
  border: 1px solid #bebfb9;
}

a {
  text-decoration: none;
  color: #1a7bbb;
}

.report-main-wrapper>* {
  padding-left: 15px;
  padding-right: 15px;
}

.report-main-wrapper .report-index {
  width: 95%;
  max-width: unset;
  padding-top: 0px;
  page-break-after: always;
  line-height: 2rem;
}

.report-main-wrapper .report-content #upgrade-audit-report>* {
  margin-bottom: 1.1em;
}

.report-main-wrapper .summary-wrapper {
  border: 3px solid #1a7bbb;
  padding: 20px;
  border-radius: 20px;
}

.report-main-wrapper #upgrade-audit-report .summary-wrapper h1 {
  margin-top: 0;
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.report-main-wrapper .report-index .report-table-wrapper {
  padding: 2em 1.7em;
  background-color: #eef6ff;
  border-radius: 20px;
}

.report-main-wrapper .report-index .report-table-wrapper h2 {
  color: #000000;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.report-main-wrapper .report-index .report-table-wrapper ol {
  margin-top: 2em;
  color: #3552ef;
  margin-left: 1.5em;
}

.report-main-wrapper .report-index .report-table-wrapper ol {
  color: #3552ef;
}

.report-main-wrapper .report-index .report-table-wrapper ol>li {
  margin-bottom: 0.5rem;
}

.report-main-wrapper .report-content #upgrade-audit-report h1 {
  margin: 0;
  font-size: 24px;
  font-weight: bold;
  color: #1a7bbb;
  line-height: 1;
  margin-bottom: 5px;
}

.report-main-wrapper .report-content #upgrade-audit-report h2 {
  font-size: 18px;
  font-weight: bold;
  color: #000000;
  margin-bottom: 0.5rem;
}

.report-main-wrapper .report-content #upgrade-audit-report code,
.report-main-wrapper .report-content #upgrade-audit-report pre {
  font-size: 0.9em;
  line-height: 1.5rem;
}

.report-main-wrapper .report-index>* {
  padding-right: 0;
}

.report-main-wrapper .report-content #upgrade-audit-report h4 {
  font-weight: 900;
  color: #000000;
  font-size: 1.1em;
  margin-bottom: 0.5rem;
}

.report-main-wrapper .report-content #upgrade-audit-report h6 {
  font-weight: 400;
  color: #000000;
  font-size: 0.9em;
  margin-bottom: 0.5rem;
}

.report-main-wrapper table {
  border-collapse: separate !important;
  border-spacing: 0;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  border-radius: 15px;
  -webkit-box-shadow: 0 1px 1px #1a7bbb;
  -moz-box-shadow: 0 1px 1px #1a7bbb;
  box-shadow: 0 1px 1px #1a7bbb;
  margin-bottom: 0 !important;
}

.report-main-wrapper table thead>tr {
  background-color: #1a7bbb;
  color: #ffffff;
  font-size: 1em;
  font-weight: bold;
}

.report-main-wrapper table thead>tr th {
  border-left: 1px solid #ffffff;
  border-top: 1px solid #1a7bbb;
  color: #ffffff;
  border-spacing: 0;
  text-align: left;
  padding: 0.7rem;
  background-color: #1a7bbb;
  font-size: 1em;
  font-weight: bold;
  text-transform: capitalize;
}

.report-main-wrapper table thead>tr th:first-child {
  border-left: none;
  border-radius: 15px 0 0 0;
}

.report-main-wrapper table thead>tr th:last-child {
  border-radius: 0 15px 0 0;
}

.report-main-wrapper table thead>tr th:only-child {
  border-radius: 15px 15px 0 0;
}

.report-main-wrapper table tbody tr td:last-child {
  border-right: 1px solid #1a7bbb;
}

.report-main-wrapper table tbody tr {
  border-right: 1px solid #1a7bbb;
}

.report-main-wrapper table tbody tr td {
  border-left: 1px solid #1a7bbb;
  background-color: #ffffff;
  --bs-table-accent-bg: #ffffff;
  padding: 0.7rem;
  font-size: 0.7em;
}

.report-main-wrapper table tbody tr:nth-child(even) {
  background-color: #eef6ff;
}

.report-main-wrapper table tbody tr:nth-child(even) td {
  background-color: #eef6ff;
}

.report-main-wrapper .report-content #upgrade-audit-report table + pre {
  background-color: #1a7bbb;
  padding: 0.7em 1em;
  margin-top: 0;
  font-size: 1em;
  color: #ffffff;
  border-radius: 0 0 15px 15px;
  border: 1px solid #1a7bbb;
  margin-bottom: 3em;
}

.report-main-wrapper table + pre code {
  font-size: 1em;
}

::marker {
  color: #1a7bbb;
}

.break-page {
  break-before: always;
}

h1 {
  margin: 20px 0 0 0 !important;
}

h2,
h3,
h4,
h5 {
  margin: 10px 0 0 0 !important;
}

h6 {
  margin: 10px 0 10px 0 !important;
}
